<div class="footer-basic">
  <footer>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="">
                <img src="../../assets/images/logo.png" alt="" height="100" />
              </a>
            </div>
            <p class="address_text">
              Ashirwad Towers, Pune-Solapur High Way,<br />
              Urulikanchan, Pune 412202
            </p>
          </div>
        </div>
        <div class="float-end">
          <div class="social">
            <a
              href="https://www.instagram.com/shreevitthalhospital/"
              target="_blank"
            >
              <i class="fab fa-instagram"></i></a
            ><a
              href="https://www.facebook.com/profile.php?id=100065228070888"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
          <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="">Home</a></li>
            <li class="list-inline-item"><a routerLink="aboutUs">About us</a></li>
            <li class="list-inline-item"><a  routerLink="departments">Departments</a></li>
            <li class="list-inline-item"><a routerLink="gallery">Gallery</a></li>
            <li class="list-inline-item"><a routerLink="contactUs">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a class="button back-to-top" (click)="scrollToTop()">
      <svg class="svgIcon" id="fixedbutton" viewBox="0 0 384 512">
        <path
          d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
        ></path>
      </svg>
    </a>
    <p class="copyright"> Copyright &copy; All rights reserved | This Website is made with
      <i class="ti-heart" aria-hidden="true"></i> by
      <a href="http://chordztechnologies.com" target="_blank"
        >Chordz Technologies Pvt Ltd</a
      ></p>
  </footer>
</div>

<!-- <footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="">
                <img src="../../assets/images/logo.png" alt="" height="200" />
              </a>
            </div>
            <p class="address_text">
              Ashirwad Towers, Pune-Solapur High Way,<br />
              Urulikanchan, Pune 412202
            </p>
            <div class="socail_links fs-3">
              <ul>
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=100065228070888"
                    target="_blank"
                  >
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/shreevitthalhospital/"
                    target="_blank"
                  >
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <h3 class="footer_title">Our Departments</h3>
            <ul class="links list-inline">
              <li class="list-inline-item">
                <a href="#" style="text-decoration: none">Cardiology</a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="text-decoration: none">Neurology</a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="text-decoration: none">Traumatology</a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="text-decoration: none">Pregnancy</a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="text-decoration: none">X-ray</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <h3 class="footer_title">We’re Available</h3>
            <ul class="meting_time pe-4">
              <li class="d-flex justify-content-between">
                <span>Monday - Friday</span> <span>24 Hours</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Saturday </span> <span>24 Hours</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Sunday</span> <span>24 Hours</span>
              </li>
            </ul>
          </div>

          <a class="button back-to-top" (click)="scrollToTop()">
            <svg class="svgIcon" id="fixedbutton" viewBox="0 0 384 512">
              <path
                d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="row">
        <div class="bordered_1px"></div>
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <span
              >
              Copyright &copy; All rights reserved | This Website is made with
              <i class="ti-heart" aria-hidden="true"></i> by
              <a href="http://chordztechnologies.com" target="_blank"
                >Chordz Technologies Pvt Ltd</a
              >
              </span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<!-- <a (click)="scrollToTop()" class="back-to-top"
  ><i class="fa fa-circle-arrow-up"></i
></a> -->
