<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Departments and Facilities</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bradcam_area_end  -->

<!-- Department Strat -->
<div class="container py-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/human-heart-design.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold fs-5 mx-3 text-center">Cardiology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Cardiology</p>
          <p class="card__description">
            Hospitals that specialise in the diagnosis, treatment, and
            management of heart-related illnesses and conditions have
            departments dedicated to cardiology. Cardiologists are medical
            professionals with specialised knowledge of the cardiovascular
            system who work in departments dedicated to this field. Their duties
            encompass the assessment, identification, and management of patients
            with cardiac ailments.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/Anesthesiology.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold fs-5 mx-3 text-center">Anesthesiology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Anesthesiology</p>
          <p class="card__description">
            Anesthesiology is a branch of medicine that treats patients
            undergoing surgery or other medical procedures by administering
            anaesthesia and providing perioperative care. A patient's heart
            rate, blood pressure, breathing, and other physiological functions
            are all under the control of anesthesiologists during a surgical
            procedure. Anaesthesia is given to ensure that patients are
            pain-free and comfortable during the procedure.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/ent.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold fs-5 mx-3 text-center">ENT Specialists</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">ENT Specialists</p>
          <p class="card__description">
            Ear, Nose, and Throat, or ENT, is the abbreviation for the
            otolaryngology medical specialty. The diagnosis and treatment of
            disorders pertaining to the head, neck, and ears is the primary
            focus of ENT specialists, also known as otolaryngologists. They deal
            with problems like voice disorders, sinus problems, hearing loss,
            and other conditions that affect the head and neck area.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/nuroTrauma.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold fs-5 mx-3 text-center">Neurotrauma</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Neurotrauma</p>
          <p class="card__description">
            The term "neurotrauma" describes wounds to the nervous system,
            specifically to the brain and spinal cord. There are several reasons
            why these injuries may occur, such as trauma, falls, accidents, or
            acts of violence. Serious outcomes from neurotrauma include spinal
            cord injury (SCI) and traumatic brain injury (TBI). In order
            to help people recover function and adjust to life after
            neurotrauma, rehabilitation is essential.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/kidney.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold fs-5 mx-3 text-center">Urology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Urology</p>
          <p class="card__description">
            Urology is a branch of medicine that specialises in the diagnosis
            and treatment of diseases affecting the male reproductive system,
            the urinary tract in both genders, and both. Urologists are
            qualified to treat a broad variety of conditions, such as kidney
            stones, bladder troubles, prostate problems, UTIs, and issues
            related to men's reproductive health. Urology includes specialties
            like paediatric urology, female urology, and urologic oncology. They
            may employ surgical or medical procedures.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/onco.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold fs-5 mx-3 text-center">Oncosurgery</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Oncosurgery</p>
          <p class="card__description">
            Surgical oncology, also known as oncosurgery, is a subspecialty of
            surgery that treats cancer. Surgical oncologists are doctors who
            specialise in performing surgical procedures to remove cancerous
            tissues or tumours from the body. Oncosurgery aims to remove
            cancerous cells from the body, stop them from spreading to other
            areas, and, if it's feasible, treat or cure the patient's cancer. To
            provide comprehensive cancer care, surgical oncologists frequently
            collaborate with other cancer specialists, including medical
            oncologists and radiation oncologists.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/genSurg.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">
                General & Laparoscopic Surgery
              </p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">General & Laparoscopic Surgery</p>
          <p class="card__description">
            Surgical procedures on different body parts are included in the
            broad category of general surgery. Small incisions and specialised
            instruments are used in laparoscopic surgery, a minimally invasive
            procedure that has advantages over open surgery such as less pain
            and faster recovery. The needs of the patient often dictate which
            procedures general surgeons perform, whether they are traditional or
            laparoscopic.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/rehumatlogy.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Rheumatology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Rheumatology</p>
          <p class="card__description">
            The medical specialty of rheumatology is dedicated to the diagnosis
            and treatment of illnesses that impact the muscles, connective
            tissues, and joints. Rheumatologists are medical professionals with
            a focus on treating autoimmune diseases like lupus, arthritis, and
            others. To treat rheumatic disease patients' symptoms, lower
            inflammation, and enhance their overall quality of life, a range of
            strategies are used, such as medication, physical therapy, and
            lifestyle modifications.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card px-3">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/physio.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Physiotherapy</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Physiotherapy</p>
          <p class="card__description">
            The goal of the medical field of physical therapy, or physiotherapy,
            is to maximise function and movement. Physical therapists, also
            known as physiotherapists, assess and treat a range of illnesses,
            wounds, and disabilities with their patients. Physiotherapy seeks to
            increase mobility, reduce pain, and improve general physical
            well-being through exercises, manual therapy, and other methods. In
            order to promote and maintain health and fitness, it is essential
            and is frequently used in rehabilitation following surgery, injury,
            or illness.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/ortho.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Orthopedics & Arthroscopy</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Orthopedics & Arthroscopy</p>
          <p class="card__description">
            The medical specialty of orthopaedics treats disorders of the
            musculoskeletal system, which includes the bones and joints.
            <br />Arthroscopy: Quicker recovery through the use of a
            tiny camera during minimally invasive surgery to identify and treat
            joint problems. Comparing arthroscopy to open surgery, the former
            usually yields shorter recovery periods and less pain following
            surgery.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/critical-care.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Critical Care</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Critical Care</p>
          <p class="card__description">
            Patients with severe and potentially fatal illnesses or injuries
            require comprehensive care. This is known as critical care. The
            intensive care unit (ICU), also known as the critical care unit, is
            where this specialist medical care is offered. In addition to
            providing close monitoring and support for vital organ systems,
            critical care teams, which comprise critical care physicians and
            nurses, also handle urgent and complicated medical needs. Stabilise
            patients, stop further decline, and aid in their recovery are the
            objectives.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/gast.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Gastro-enterology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Gastro-enterology</p>
          <p class="card__description">
            The medical specialty that focuses on disorders of the digestive
            system is called gastroenterology. Conditions affecting the
            gastrointestinal tract, which includes the oesophagus, stomach,
            intestines, liver, gallbladder, and pancreas, are diagnosed and
            treated by gastroenterologists. Gastroenterologists frequently treat
            conditions like acid reflux, liver illnesses, gastrointestinal
            malignancies, and inflammatory bowel illnesses (like Crohn's disease
            and ulcerative colitis).
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/PS.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">
                Plastic & Reconstructive Surgery
              </p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Plastic & Reconstructive Surgery</p>
          <p class="card__description">
            The restoration, reconstruction, or modification of the human body
            is the focus of the medical specialty known as plastic and
            reconstructive surgery. Plastic surgeons treat a variety of
            diseases, such as birth defects, severe trauma, and cosmetic issues.
            The field includes both aesthetic procedures (i.e., to improve
            appearance) and reconstructive procedures (i.e., to restore function
            and appearance following illness or injury).
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center">
      <div class="card">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/sono.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Obstetrics & Gynecology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Obstetrics & Gynecology</p>
          <p class="card__description">
            The field of medicine known as obstetrics and gynaecology, or
            OB/GYN, is dedicated to the care of the female reproductive system.
            In order to ensure the health of mother and child, obstetricians
            specialise in the care of pregnant women, childbirth, and postpartum
            care. Gynaecologists specialise in treating disorders of the
            non-pregnant female reproductive system, including endometriosis and
            cervical cancer, as well as family planning and the health of
            reproductive organs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 pb-5 mobile-center mx-auto">
      <div class="card">
        <div class="">
          <div class="p-2">
            <div class="px-3">
              <img
                src="../../assets/images/departments/nuro5.webp"
                alt=""
                style="
                  width: 400px;
                  height: 300px;
                  object-fit: fill;
                  padding: 20px;
                "
              />
              <p class="fw-bold mx-3 text-center">Neurology</p>
            </div>
          </div>
        </div>
        <div class="card__content">
          <p class="card__title">Neurology</p>
          <p class="card__description">
            Disorders of the nervous system, which comprises the brain, spinal
            cord, nerves, and muscles, are treated by the medical specialty
            known as neurology. A wide range of illnesses, including headaches,
            multiple sclerosis, epilepsy, stroke, and Alzheimer's disease, are
            diagnosed and treated by neurologists. In order to provide complete
            care, they frequently collaborate closely with other medical
            specialists and employ a variety of diagnostic techniques, such as
            imaging studies and neurological exams.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Department end -->

<app-services></app-services>
