<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>About Us</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bradcam_area_end  -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 pb-3 box-1 my-5">
      <div class="col-lg-6 wow fadeIn">
        <div class="d-flex flex-column">
          <img
            class="img-fluid rounded w-75 align-self-end"
            src="../../assets/images/entrance.jpg"
            alt=""
          />
          <img
            class="img-fluid rounded w-50 bg-white pt-3 pe-3"
            src="../../assets/images/Reception.jpg"
            alt=""
            style="margin-top: -25%"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn">
        <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
        <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
        <p>
          Date Of Establishment 4 Th July 2019. Only hospital with Full Time
          Consultant in near by rural area
        </p>
        <p>
          <i class="far fa-check-circle text-primary me-3"></i>Quality health
          care
        </p>
        <p>
          <i class="far fa-check-circle text-primary me-3"></i>Only Qualified
          Doctors
        </p>
        <p>
          <i class="far fa-check-circle text-primary me-3"></i>Medical Research
          Professionals
        </p>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="aboutUs"
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- expert_doctors_area_start -->
<div class="expert_doctors_area py-5 parallax">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title mb-5 text-center text-white">
          <h1>Our Directors</h1>
          <p>
            The management and operations of healthcare facilities are under the
            purview of hospital directors, also referred to as hospital
            administrators or healthcare executives. These experts are essential
            to making sure hospitals function well, offer top-notch care, and
            adhere to legal obligations.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single_expert">
          <div class="expert_thumb">
            <img src="../../assets/images/3.webp" alt="" />
          </div>
          <div class="experts_name text-center">
            <h3>Dr. Girish Shinde</h3>
            <span>M.B.B.S. FCPS Medicine </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_expert">
          <div class="expert_thumb">
            <img src="../../assets/images/1.webp" alt="" />
          </div>
          <div class="experts_name text-center">
            <h3>Dr. Amol Mhetre</h3>
            <span>M.B.B.S D.A. D.N.B Anasthesiology And Critical Care </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_expert">
          <div class="expert_thumb">
            <img src="../../assets/images/2.webp" alt="" />
          </div>
          <div class="experts_name text-center">
            <h3>Dr. Arvind Machale</h3>
            <span>M.B.B.S. D.Ortho</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="https://forms.gle/zJmd6e2st5bktJm8A" target="_blank" class="btn btn-primary rounded-pill py-3 px-5 mt-3"
        >Book Appointment</a
      >
    </div>
  </div>
</div>
<!-- expert_doctors_area_end -->

<!-- Our Consultants -->

<div class="container-fluid pt-5">
  <div
    class="row custom_align align-items-end justify-content-between parallax-3 p-5"
  >
    <div class="col-lg-6">
      <div class="section_title">
        <h3 class="text-white">Our Available Expert Consultants</h3>
        <p class="text-white-50">
          We are thrilled to introduce our pool of expert consultants is always
          available for you and ready to bring their wealth of knowledge to you
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="learn_more_btn text-end">
        <a
        href="https://forms.gle/zJmd6e2st5bktJm8A" target="_blank"
          class="btn btn-outline-light fw-bold rounded-pill py-3 px-5 mt-3"
          >Book Appointment</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Dnyaneshwar Ghadage</p>
                <p class="text-muted mb-0">M.B.B.S M.S. (GEN Surgery)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              6 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">Availability</p>
          <p class="fw-bold text-white">24 Hr </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/femaleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr Pradnya Machale</p>
                <p class="text-muted mb-0">M.B.B.S D.G.O (OB-GY)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              5 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">Availability</p>
          <p class="fw-bold text-white">24 Hr </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Nikhil kunjir</p>
                <p class="text-muted mb-0">M.B.B.S M.S. (ENT)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              4 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">Availability</p>
          <p class="fw-bold text-white">Daily (9-11 Am)</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Manesh Shinde</p>
                <p class="text-muted mb-0">M.B.B.S. D.C.H. (PEDIATRICIAN)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              8 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">Availability</p>
          <p class="fw-bold text-white">24 Hr </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr Manoj Pawar</p>
                <p class="text-muted mb-0">
                  M.B.B.S. M.S. MCH (Plastic Surgery )
                </p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              8 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white"> Saturday. On Call 24 Hr</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Sanket Bankar</p>
                <p class="text-muted mb-0">M.B.B.S. M.S. MCH (ONCO)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              8 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white"> Monday . On Call 24 Hr</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Sachin Anbhule</p>
                <p class="text-muted mb-0">M.B.B.S. MCH (NEURO)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              7 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white">Saturday. On Call 24 Hr</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Suraj Ingole</p>
                <p class="text-muted mb-0">M.B.B.S. M.D. DNB (Cardiology)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              9 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white">
            Tuesday & Friday. On Call 24 Hr
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Darshan Gaud</p>
                <p class="text-muted mb-0">M.B.B.S. M.S. MCH (Neurosurgery)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              5 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white">
            Wednesday & Friday. On Call 24 Hr
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Ksheetij Kothari</p>
                <p class="text-muted mb-0">
                  M.B.B.S. M.D. DM (Gastroenterology)
                </p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              6 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white">Monday To Friday (12-2 PM).</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Anup Bende</p>
                <p class="text-muted mb-0">M.B.B.S. M.D. DM(Neurology)</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              5 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white">Monday And Thursday ( 6-9 PM)</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mx-auto mb-4">
      <div class="card box-1">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="../../assets/images/icons/maleUser.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Dr. Girish Kakade</p>
                <p class="text-muted mb-0">M.B.B.S M.D DNB (Rheumatology )</p>
              </div>
            </div>
            <span class="fw-bold"
              >Experience <br />
              9 YEARS
            </span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-primary pt-4 d-flex justify-content-around"
        >
          <p class="fw-bold text-white">OPD -</p>
          <p class="fw-bold text-white">Thursday (6-9 PM)</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <a href="#head">
    <i class="fa-solid fa-circle-arrow-up" id="fixedbutton"></i
  ></a> -->
</div>
<!-- <div class="pb-5 px-3" style="padding-bottom: 90px !important">
  <a class="button float-end" href="aboutUs">
    <svg class="svgIcon" height="40" viewBox="0 0 384 512">
      <path
        d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
      ></path>
    </svg> 
  </a>
</div> -->

<!-- Our Consultants -->
