<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Contact Us</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bradcam_area_end  -->

<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <div class="h-100 bg-light rounded d-flex align-items-center p-5 ">
          <div
            class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-success"
            style="width: 55px; height: 55px"
          >
            <i class="fa fa-map-marker-alt text-warning"></i>
          </div>
          <div class="ms-4">
            <p class="mb-2">Address</p>
            <h5 class="mb-0">
              Ashirwad Towers, Pune-Solapur High Way, Urulikanchan, Pune 412202
            </h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="h-100 bg-light rounded d-flex align-items-center p-5 ">
          <div
            class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
            style="width: 55px; height: 55px"
          >
            <i class="fa-solid fa-phone text-primary "></i>
          </div>
          <div class="ms-4">
            <p class="mb-2">Call Us Now</p>
            <h5 class="mb-0">+91 9075311415</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="h-100 bg-light rounded flexi align-items-center p-3 ">
          <div
            class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-danger envelope"
            style="width: 55px; height: 55px"
          >
            <i class="fa fa-envelope-open text-white"></i>
          </div>
          <div class="ms-1">
            <p class="mb-2 text-center">Mail Us Now</p>
            <p class="mb-0 fw-bold text-center">Shreevitthalhospital@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-light rounded p-5 ">
          <p class="d-inline-block border rounded-pill py-1 px-4">Contact Us</p>
          <h1 class="mb-4">Have Any Query? Please Contact Us!</h1>
          <p class="mb-4">
            The contact form is currently inactive. Get a functional and working
            contact form with Ajax & PHP in a few minutes. Just copy and paste
            the files, add a little code and you're done.
          </p>
          <!-- <div class="col-lg-6" style="min-height: 400px">
            <div class="position-relative h-100">
              <img
                class="position-absolute img-fluid w-100 h-100"
                src="../../assets/images/contact2.jpg"
                style="object-fit: cover"
                alt=""
              />
            </div>
          </div> -->
          <div class="col-lg-12 thumb_1">
            <div class="position-relative ">
              <img
                class="position-relative w-100"
                src="../../assets/images/contact2.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-12 pt-3">
            <a href="tel:+91 9075311415"
              ><button class="btn btn-primary fw-bold w-100 py-3" type="submit">
                <i class="fa-solid fa-phone" style="color: #ffffff"></i> Call
                Now
              </button></a
            > 
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="h-100" style="min-height: 400px">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d6099.463359680184!2d74.12741769206988!3d18.491126880386677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bc2e1a83d38f29f%3A0xa200363e43f2ad69!2sshree%20vitthal%20hospital%20uruli%20kanchan!3m2!1d18.4868025!2d74.131078!5e1!3m2!1sen!2sin!4v1700631979538!5m2!1sen!2sin"
            class="rounded w-100 h-100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

<!-- Emergency_contact start -->
<div class="Emergency_contact mt-5">
  <div class="Emergency_contact_inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="single_emergency">
            <div class="info">
              <span>We are here for you</span>
              <h3>Book Appointment</h3>
            </div>
            <div class="info_button ps-5">
              <a
              href="https://forms.gle/zJmd6e2st5bktJm8A" target="_blank"
                class="btn btn-outline-light rounded-pill py-3 px-5 mt-3"
                >Book Appointment
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div
            class="single_emergency align-items-center d-flex justify-content-end"
          >
            <div class="icon">
              <img
                src="../../assets/images/icons/telephone.png"
                height="80"
                alt=""
              />
            </div>
            <div class="info">
              <span>Emergency Medical Care</span>
              <h3>+91 9075311415</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Emergency_contact end -->
