<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Gallery</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bradcam_area_end  -->

<!-- Gallery -->

<div class="container-fluid pt-5 pb-3">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2">Our Gallery</span>
      </p>
      <h1 class="mb-4">Our Hospitals Gallery</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/ambulance.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="../../assets/images/gallery/d3.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Wintry Mountain Landscape"
      />

      <img
        src="../../assets/images/gallery/ICU.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Waves at Sea"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/Xray.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="../../assets/images/gallery/OT.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/d1.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Waves at Sea"
      />

      <img
        src="../../assets/images/gallery/d6.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Wintry Mountain Landscape"
      />
      <img
        src="../../assets/images/gallery/d5.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/d4.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="../../assets/images/gallery/d2.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
      <img
        src="../../assets/images/gallery/IMG_20231206_122120.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="../../assets/images/gallery/mahilaShibir2.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/smman.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="../../assets/images/gallery/room2.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Yosemite National Park"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/opd.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="../../assets/images/gallery/group1.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
      <img
        src="../../assets/images/gallery/reception2.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="../../assets/images/gallery/mahilaShibir1.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/2.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="../../assets/images/gallery/3.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
      <!-- <img
        src="../../assets/images/gallery/4.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      /> -->
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/5.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="../../assets/images/gallery/6.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../../assets/images/gallery/7.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
      <img
        src="../../assets/images/gallery/4.webp"
        class="w-100 shadow-1-strong rounded zoom mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  </div>
</div>

<!-- Gallery -->
