<!-- servicesStart -->
<div class="container-fluid">
  <div
    class="row custom_align align-items-end justify-content-between parallax-3 p-5"
  >
    <div class="col-lg-6">
      <div class="section_title">
        <h3 class="text-white">Services & Facilities We Provide</h3>
        <p>
          Hospitals typically consist of various departments, each specializing
          in specific medical services and functions. Some common hospital
          departments
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="learn_more_btn text-end">
        <a
        href="https://forms.gle/zJmd6e2st5bktJm8A"
        target="_blank"
          class="btn btn-outline-light fw-bold rounded-pill py-3 px-5 mt-3"
          >Book Appointment</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-title"></h2>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body card__content">
          <i
            class="fa-solid fa-bed-pulse icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"
          ></i>

          <h4 class="mt-4 mb-3">ICU</h4>
          <p>
            We are having ICU with total 4 ventilators , 4 Bipap machines ,
            defibrillators .
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-house-medical icon-lg icon-yellow icon-bg-yellow icon-bg-circle mb-3"
          ></i>

          <h4 class="mt-4 mb-3">Operation Theatres</h4>
          <p>
            Two Operation theatres, Neurotrauma OT equipped with C-ARM and
            Anaesthsia Work Station and other OT for general and OBGY surgery.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-x-ray icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"
          ></i>

          <h4 class="mt-4 mb-3">Equipments</h4>
          <p>
            We are having facility for in house USG, Xray , ECG , pulmonary
            function test , cardiac stress test and 2 D Echo .
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-droplet icon-lg icon-red icon-bg-red icon-bg-circle mb-3"
          ></i>
          <h4 class="mt-4 mb-3">Dialysis Facility</h4>
          <p>
            We are the only hospital in 40 km periphery to provide DIALYSIS
            FACILITY , also we have made provision for bed side dialysis in ICU.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-laptop-medical icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"
          ></i>
          <h4 class="mt-4 mb-3">Gastroentologist</h4>
          <p>
            Having facility for Upper and Lower GI scopy with daily
            Gastroentologist Availability.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-truck-medical icon-lg icon-green icon-bg-green icon-bg-circle mb-3"
          ></i>
          <h4 class="mt-4 mb-3">Ambulance service</h4>
          <p>
            24 hours availability of Ambulance service. For the immediate
            transfer of patients to medical institutions, emergency medical
            response is provided quickly, using qualified staff and vehicles
            that are equipped.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-square-parking icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"
          ></i>
          <h4 class="mt-4 mb-3">Parking & Lift</h4>
          <p>
            Spacious 4 wheeler and 2 wheeler Parking, lift facility, ramp for
            patient transportation, 24x7 generator back-up, staircase for
            emergency exit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card border-0 shadow rounded-xs pt-5">
        <div class="card-body">
          <i
            class="fa-solid fa-hand-holding-medical icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"
          ></i>
          <h4 class="mt-4 mb-3">Our Other Facilities</h4>
          <p>
            <i class="fa-solid fa-circle-check"></i>
            40 Reg. Beds <br />
            <i class="fa-solid fa-circle-check"></i>
            16 General Beds <br />
            <i class="fa-solid fa-circle-check"></i>
            7 In patient beds (ICU) <br />
            <i class="fa-solid fa-circle-check"></i>
            2 Operation Theatres. For general and OBGY surgery. <br />
            <i class="fa-solid fa-circle-check"></i>
            13 Single Rooms <br />
            <i class="fa-solid fa-circle-check"></i>
            2 Casuality Beds <br />
            <i class="fa-solid fa-circle-check"></i>
            4 OPD
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- services end -->
