<!-- slider_area_start -->
<div class="slider_area sticky">
  <div class="slider_active owl-carousel">
    <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider_text">
              <a class="navbar-brand" href="#"
                ><img
                  src="../../assets/images/logo.png"
                  alt="DBK Logo"
                  height="200"
              /></a>
              <span class="fw-bold" style="text-shadow: 2px 2px 4px #000000"
                >ICU, Trauma &nbsp; and </span
              ><br />
              <span class="fw-bold" style="text-shadow: 2px 2px 4px #000000"
                >Maternity Center in Uruli Kanchan, Pune
              </span>
              <h3 style="text-shadow: 2px 2px 4px #000000">
                <span>Shree Vitthal Hospital</span>
              </h3>
              <a
                href="https://forms.gle/zJmd6e2st5bktJm8A"
                target="_blank"
                class="btn btn-info rounded-pill py-3 px-5 mt-3"
                >Book Appointment
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area_end -->

<!-- content -->
<div class="content">
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 pb-3 my-5">
        <div class="col-lg-6 ">
          <div class="d-flex flex-column">
            <img
              class="img-fluid rounded w-75 align-self-end"
              src="../../assets/images/entrance.jpg"
              alt=""
            />
            <img
              class="img-fluid rounded w-50 bg-white pt-3 pe-3"
              src="../../assets/images/Reception.jpg"
              alt=""
              style="margin-top: -25%"
            />
          </div>
        </div>
        <div class="col-lg-6 ">
          <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
          <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
          <p>
            Date Of Establishment 4 Th July 2019. Only hospital with Full Time
            Consultant in near by rural area
          </p>
          <!-- <p class="mb-4 fw-bold">
            BOMBAY NURSING REGISTRATION NUMBER : 693 <br />
            NABH CERTIFICATE NO. PESHCO-2022- 5729
          </p> -->
          <p>
            <i class="far fa-check-circle text-primary me-3"></i>Quality health
            care
          </p>
          <p>
            <i class="far fa-check-circle text-primary me-3"></i>Only Qualified
            Doctors
          </p>
          <p>
            <i class="far fa-check-circle text-primary me-3"></i>Medical
            Research Professionals
          </p>
          <div class="ps-5">
            <a
              class="btn btn-primary rounded-pill py-3 px-5 mt-3"
              routerLink="aboutUs"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- depertment_area_start  -->
  <div class="container-fluid-xxxl">
    <div class="row custom_align p-2" style="background-color: #298b7d">
      <div class="col-lg-6">
        <div class="section_title text-white">
          <h3>Departments</h3>
          <p>
            Hospitals typically consist of various departments, each
            specializing in specific medical services and functions. Some common
            hospital departments
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="learn_more_btn text-end pe-5">
          <a
            routerLink="departments"
            class="btn btn-outline-light fw-bold rounded-pill py-3 px-5 mt-3"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="depertment_area">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-5 g-4 ">
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/human-heart-design.webp"
              class="card-img-top"
              alt="Hollywood Sign on The Hill"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Cardiology</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/Anesthesiology.webp"
              class="card-img-top"
              alt="Palm Springs Road"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Anesthesiology</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/ent.webp"
              class="card-img-top"
              alt="Los Angeles Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">ENT Specialists</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/nuro.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Neurotrauma</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/kidney.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Urology</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/onco2.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Oncosurgery</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/gast.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Gastro-enterology</h5>
            </div>
          </div>
        </div>

        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/cc.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Critical Care</h5>
            </div>
          </div>
        </div>  

        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/physio.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Physiotherapy</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/nuro5.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Neurology</h5>
            </div>
          </div>
        </div>

        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/rheumo.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Rheumatology</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/genSurg.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">
                General Surgery
              </h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/PS.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">
                Plastic Surgery
              </h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/sono.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Gynecology</h5>
            </div>
          </div>
        </div>
        <div class="col align-items-stretch mx-auto">
          <div class="card h-80">
            <img
              src="../../assets/images/departments/ortho.webp"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Orthopedics</h5>
            </div>
          </div>
        </div>
      </div>
      
      <div class="dept_main_info white-bg pt-5">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active">
            <!-- single_content  -->
            <div class="row">
              <div class="col-lg-5 p-2">
                <div class="dept_thumb">
                  <img
                    src="../../assets/images/departments/human-heart-design.webp"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-7">
                <div class="dept_info">
                  <h3>Cardiology</h3>
                  <p>
                    Hospitals that specialise in the diagnosis, treatment, and
                    management of heart-related illnesses and conditions have
                    departments dedicated to cardiology. Their duties encompass
                    the assessment, identification, and management of patients
                    with cardiac ailments.
                  </p>
                  <div class="boxed-btn">
                    <a
                      routerLink="departments"
                      class="btn btn-outline-primary rounded-pill"
                      >View All Departments</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- single_content  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- depertment_area_end  -->

  <!-- expert_doctors_area_start -->
  <div class="expert_doctors_area parallax">
    <div class="container-fluid-xxxl">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title mb-5 text-center text-white">
            <h1>Our Directors</h1>
            <p>
              The management and operations of healthcare facilities are under
              the purview of hospital directors, also referred to as hospital
              administrators or healthcare executives. These experts are
              essential to making sure hospitals function well, offer top-notch
              care, and adhere to legal obligations.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="single_expert ">
            <div class="expert_thumb">
              <img src="../../assets/images/3.webp" alt="" />
            </div>
            <div class="experts_name text-center">
              <h3>Dr. Girish Shinde</h3>
              <span>M.B.B.S. FCPS Medicine </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_expert ">
            <div class="expert_thumb ">
              <img src="../../assets/images/1.webp" alt="" />
            </div>
            <div class="experts_name text-center">
              <h3>Dr. Amol Mhetre</h3>
              <span>M.B.B.S D.A. D.N.B Anasthesiology And Critical Care </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_expert ">
            <div class="expert_thumb">
              <img src="../../assets/images/2.webp" alt="" />
            </div>
            <div class="experts_name text-center">
              <h3>Dr. Arvind Machale</h3>
              <span>M.B.B.S. D.Ortho</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a
          href="https://forms.gle/zJmd6e2st5bktJm8A"
          target="_blank"
          class="btn btn-primary rounded-pill py-3 px-5 mt-3"
          >Book Appointment</a
        >
      </div>
    </div>
  </div>
  <!-- expert_doctors_area_end -->

  <!-- Feature Start -->
  <div class="container-fluid parallax-2 overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
      <div class="row g-0 mx-lg-0">
        <div class="col-lg-6 feature-text py-5 ">
          <div class="p-lg-5 ps-lg-0">
            <p class="d-inline-block border rounded-pill text-light py-1 px-4">
              Features
            </p>
            <h1 class="text-white mb-4">Why Choose Us</h1>
            <p class="text-white mb-4 pb-2">
              The hospital employs a group of knowledgeable and talented medical
              staff, including physicians and nurses with specialised training.
              All medical services, including specialised treatments and primary
              care, are offered by the hospital under one roof. The hospital
              prioritises patient comfort and convenience, provides flexible
              scheduling, and is easily accessible.
            </p>
            <div class="row g-4 ps-5">
              <div class="col-6">
                <div class="flexi align-items-center">
                  <div
                    class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                    style="width: 55px; height: 55px"
                  >
                    <i class="fa fa-user-md text-primary"></i>
                  </div>
                  <div class="ms-4">
                    <p class="text-white mb-2">Experience</p>
                    <h5 class="text-white mb-0">Doctors</h5>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="flexi align-items-center">
                  <div
                    class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                    style="width: 55px; height: 55px"
                  >
                    <i class="fa fa-check text-primary"></i>
                  </div>
                  <div class="ms-4">
                    <p class="text-white mb-2">Quality</p>
                    <h5 class="text-white mb-0">Services</h5>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="flexi align-items-center">
                  <div
                    class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                    style="width: 55px; height: 55px"
                  >
                    <i class="fa fa-comment-medical text-primary"></i>
                  </div>
                  <div class="ms-4">
                    <p class="text-white mb-2">Positive</p>
                    <h5 class="text-white mb-0">Consultation</h5>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="flexi align-items-center">
                  <div
                    class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                    style="width: 55px; height: 55px"
                  >
                    <i class="fa fa-headphones text-primary"></i>
                  </div>
                  <div class="ms-4">
                    <p class="text-white mb-2">24 Hours</p>
                    <h5 class="text-white mb-0">Support</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          class="col-lg-6 pe-lg-0 "
          style="min-height: 400px"
        >
          <div class="position-relative h-100">
            <img
              class="position-absolute img-fluid w-50 h-50"
              src="../../assets/images/logo.png"
              style="object-fit: cover"
              alt=""
            />
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Feature End -->

  <div class="Emergency_contact mt-5">
    <div class="Emergency_contact_inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="single_emergency">
              <div class="info">
                <span>We are here for you</span>
                <h3>Book Appointment</h3>
              </div>
              <div class="info_button ps-5">
                <a
                  href="https://forms.gle/zJmd6e2st5bktJm8A"
                  target="_blank"
                  class="btn btn-outline-light rounded-pill py-3 px-5 mt-3"
                  >Book Appointment
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="single_emergency align-items-center d-flex justify-content-end"
            >
              <div class="icon">
                <img
                  src="../../assets/images/icons/telephone.png"
                  height="80"
                  alt=""
                />
              </div>
              <div class="info">
                <span>Emergency Medical Care</span>
                <h3>+91 9075311415</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

