.sticky {
  position: sticky;
  top: 80px;
  z-index: -1;
}

.content {
  background: #fff;
  padding: 0.8em;
}


.slider_bg_1 {
  background-image: url(../../assets/images/bakimg1.webp); 
  height: 32rem;

  position: relative;

}

.slider_area .single_slider {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {

  /* line 8, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* line 8, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 700px;
  }
}

/* line 20, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text>span {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  display: block;
}

/* line 28, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text h3 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 70px;
  font-weight: 300;
  line-height: 85px;
  margin-top: 22px;
  margin-bottom: 10px;
}

/* line 36, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {

  /* line 28, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* line 28, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 55px;
    line-height: 65px;
  }
}

/* line 49, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text p {
  font-size: 18px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
  margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 49, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {

  /* line 49, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

/*** Feature ***/
// @media screen and (min-width: 600px) {
//   .container.feature {
//     max-width: 100% !important;
//   }
//   .feature-text {
//     padding-left: calc(((100% - 660px) / 2) + .75rem);
//   }
// }

// @media screen and (max-width: 600px) {
//   .container.feature {
//     // font-size: 30px;
//     max-width: 100% !important;
//   }
//   .feature-text {
//     padding-left: calc(((100% - 660px) / 2) + .75rem);
//   }
// }

@media (max-width: 767px) {

  /* line 30, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  // .container.feature {
  //   // max-width: 100% !important;
  // }
  .feature-text {
    padding-left: calc(((100% - 820px) / 2) + .75rem);
  }
  .flexi{
    display: flex;
  }
}

@media (min-width: 992px) {
  .container.feature {
    max-width: 100% !important;
  }

  .feature-text {
    padding-left: calc(((100% - 960px) / 2) + .75rem);
  }

  .flexi{
    display: flex;
  }
}

@media (min-width: 1200px) {
  .feature-text {
    padding-left: calc(((100% - 1140px) / 2) + .75rem);
  }
  .flexi{
    display: flex;
  }
}

@media (min-width: 1400px) {
  .feature-text {
    padding-left: calc(((100% - 1320px) / 2) + .75rem);
  }
  .flexi{
    display: flex;
  }
}


.depertment_area {
  // background-image: url(../img/banner/department.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {

  /* line 1, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* line 12, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .row.custom_align {
  margin-bottom: 60px;
}

@media (max-width: 767px) {

  /* line 15, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .learn_more_btn {
    text-align: left !important;
    margin-top: 30px;
  }
}

/* line 23, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .dept_main_info .dept_thumb img {
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 23, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_thumb img {
    max-width: 100%;
  }
}

/* line 30, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .dept_main_info .dept_info {
  padding-left: 68px;
  padding-right: 75px;
}

@media screen and (min-width: 600px) {
  .depertment_area .dept_main_info .dept_info {
    // font-size: 30px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .depertment_area .dept_main_info .dept_info {
    // font-size: 30px;
    padding: 30px;
  }
}

@media (max-width: 767px) {

  /* line 30, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_info {
    padding: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* line 30, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_info {
    padding: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 30, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_info {
    padding: 40px;
  }
}

/* line 42, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .dept_main_info .dept_info h3 {
  font-size: 25px;
  line-height: 35px;
  color: #242424;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

@media (max-width: 767px) {

  /* line 42, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_info h3 {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 51, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_info h3 br {
    display: none;
  }
}

/* line 57, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .dept_main_info .dept_info p {
  margin-bottom: 52px;
  margin-top: 20px;
  color: #5c5c5c;
}

@media screen and (min-width: 600px) {
  .boxed-btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .boxed-btn {
    font-size: 15px;
  }
}
@media (max-width: 767px) {

  /* line 1, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_btn.scss */
  .boxed-btn {
    font-size: 15px;
  }
}


@media (min-width: 992px) and (max-width: 1200px) {

  /* line 57, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .dept_main_info .dept_info p {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

/* line 69, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav {
  justify-content: space-between;
}

/* line 71, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li {
  -webkit-box-flex: 14.4%;
  -ms-flex: 14.4% 0 0px;
  flex: 14.4% 0 0;
  margin-bottom: 30px;
}

@media (max-width: 767px) {

  /* line 71, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li {
    -webkit-box-flex: 100%;
    -ms-flex: 100% 0 0px;
    flex: 100% 0 0;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* line 71, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li {
    -webkit-box-flex: 30%;
    -ms-flex: 30% 0 0px;
    flex: 30% 0 0;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 71, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li {
    -webkit-box-flex: 15%;
    -ms-flex: 15% 0 0px;
    flex: 15% 0 0;
    margin-bottom: 0 !important;
  }
}

/* line 94, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li a {
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #cdf2ff;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {

  /* line 94, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

/* line 124, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li a i {
  font-size: 50px;
  color: #3eadf8;
  line-height: 1;
  margin-bottom: 13px;
}

@media (max-width: 767px) {

  /* line 124, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li a i {
    font-size: 25px;
    margin-right: 15px;
    margin-bottom: 0;
  }
}

/* line 135, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li a h4 {
  font-size: 18px;
  font-weight: 500;
  color: #296ea4;
  margin-bottom: 0;
}

@media (max-width: 767px) {

  /* line 135, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li a h4 {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 135, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li a h4 {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 146, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
  .depertment_area .depart_ment_tab .nav li a h4 br {
    display: none;
  }
}

/* line 152, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li a.active {
  background-image: -moz-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  color: #fff;
}

/* line 157, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li a.active i {
  color: #fff;
}

/* line 160, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li a.active h4 {
  color: #fff;
}

/* line 165, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_department.scss */
.depertment_area .depart_ment_tab .nav li:last-child {
  margin-right: 0;
}

.expert_doctors_area {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {

  /* line 1, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
  .expert_doctors_area {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

/* line 8, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert {
  margin-bottom: 40px;
}

/* line 10, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .expert_thumb {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  // height: 100%;
}

/* line 14, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .expert_thumb img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  width: 100%;
}

/* line 20, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name {
  background: #fff;
  padding-top: 16px;
  padding-bottom: 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 22px 70px 25px 70px;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 2, 0.03);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

@media (max-width: 767px) {

  /* line 20, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
  .expert_doctors_area .single_expert .experts_name {
    padding: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /* line 20, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
  .expert_doctors_area .single_expert .experts_name {
    padding: 20px;
  }
}

/* line 36, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name h3 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 1px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #26bef2;
  margin-bottom: 6px;
}

/* line 44, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name span {
  color: #738ea9;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

/* line 52, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name .social_links {
  border-top: 1px solid #cbf0ff;
  padding-top: 26px;
  margin-top: 24px;
}

/* line 56, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name .social_links li {
  display: inline-block;
  margin: 0 11px;
}

/* line 59, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name .social_links li a {
  color: #c2c8d3;
  display: inline-block;
  font-size: 16px;
}

/* line 63, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert .experts_name .social_links li a:hover {
  color: #0d448f;
}

/* line 72, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_experts.scss */
.expert_doctors_area .single_expert:hover .expert_thumb img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.Emergency_contact {
  position: relative;
  z-index: 1;
}

/* line 4, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact::before,
.Emergency_contact::after {
  background-image: url(../../assets/images/slider-4.jpg);
  content: '';
  width: 50%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* line 13, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact::before {
  left: 0;
  top: 0;
}

/* line 17, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact::after {
  right: 0;
  top: 0;
  background-image: url(../../assets/images/slider-3.webp);
}

/* line 22, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

/* line 26, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner::before,
.Emergency_contact .Emergency_contact_inner::after {
  background-color: rgba(0, 171, 231, 0.8);
  content: '';
  width: 50%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (max-width: 767px) {

  /* line 26, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .Emergency_contact .Emergency_contact_inner::before,
  .Emergency_contact .Emergency_contact_inner::after {
    width: 100%;
  }
}

/* line 38, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner::before {
  left: 0;
  top: 0;
}

/* line 42, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner::after {
  right: 0;
  top: 0;
  background-color: rgba(0, 113, 253, 0.8);
}

/* line 47, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner .single_emergency {
  position: relative;
  z-index: 87;
}

@media (max-width: 767px) {

  /* line 47, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .Emergency_contact .Emergency_contact_inner .single_emergency {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
  }
}

/* line 58, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner .single_emergency .icon {
  font-size: 100px;
  line-height: 1;
  color: #fff;
  margin-right: 40px;
}

@media (max-width: 767px) {

  /* line 58, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .Emergency_contact .Emergency_contact_inner .single_emergency .icon {
    font-size: 45px;
    margin-right: 10px;
  }
}

/* line 70, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner .single_emergency .info span {
  display: block;
  font-size: 18px;
  color: #fff;
  margin-bottom: 4px;
  font-family: "Work Sans", sans-serif;
}

@media (max-width: 767px) {

  /* line 70, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .Emergency_contact .Emergency_contact_inner .single_emergency .info span {
    font-size: 15px;
  }
}

/* line 80, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner .single_emergency .info h3 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

@media (max-width: 767px) {

  /* line 80, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .Emergency_contact .Emergency_contact_inner .single_emergency .info h3 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {

  /* line 89, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .Emergency_contact .Emergency_contact_inner .single_emergency .info_button {
    margin-bottom: 30px;
  }
}

/* line 93, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
.Emergency_contact .Emergency_contact_inner .single_emergency .info_button a {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {

  /* line 102, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_emergency_contact.scss */
  .single_emergency.align-items-center.d-flex.justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    margin-top: 37px;
  }
}

// testimonial